<nz-modal [nzVisible]="show" [nzTitle]="title" (nzOnCancel)="handleCancel()">
        
      <div *ngIf="formType !== 'VIEW_TASK'"> 
          <form 
            *ngIf="form"
            [formGroup]="form"
            nz-form
          > 
                <nz-form-item>
                  <nz-form-control>
                    <strong>Date: </strong>
                    <nz-date-picker [nzDisabled]="formType === 'ADD_TASK'" formControlName="date"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control>
                      <input 
                          id="title"
                          formControlName="title"
                          nz-input placeholder="Title"
                      /> 
                    </nz-form-control>
                </nz-form-item>
                <textarea
                    formControlName="description" 
                    nz-input
                    placeholder="Description"
                    [nzAutosize]="{ minRows: 4, maxRows: 6 }"
                ></textarea> 
          </form>
        </div>

        <div 
          class="task-view"
          *ngIf="formType === 'VIEW_TASK'">
            <div>
                <p><strong>Date:</strong> {{date | date : 'MMMM, d yyyy'}}</p>
            </div>
            <div>
              <p>
                  <strong>Title: </strong>{{selectedTask.title}}
              </p>

              <p>
                  <strong>Status: </strong>{{['Todo','On Going','Done','On Hold'][selectedTask.status]}}
              </p>
            </div> 
            <div><strong>Description: </strong>{{selectedTask.description}}</div>
        </div>
        
        
        <div *nzModalFooter>
          <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
          <button 
            *ngIf="formType !== 'VIEW_TASK'"
            nz-button 
            nzType="primary" 
            (click)="submit()"> {{formType === 'ADD_TASK' ? 'SAVE' : 'UPDATE'}}
          </button>
        </div>

</nz-modal>
<!-- 
<nz-modal nzVisible="true" nzTitle="Add new task" (nzOnCancel)="handleCancel()">
        <div>
          <form nz-form>
                <nz-form-item>
                    <input 
                        id="title"
                        nz-input placeholder="Title"
                    />
                </nz-form-item>
                    <textarea
                        nz-input
                        placeholder="Description"
                        [nzAutosize]="{ minRows: 4, maxRows: 6 }"
                      ></textarea>
          </form>
        </div>
        <div *nzModalFooter>
          <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
          <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Submit</button>
        </div>
</nz-modal> -->