.task-view{
    div:first-child + div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        p{
            margin: 0;
        }
        
        > *:first-child {
            flex: 1;
        }
    }
}