<div class="navigation">
    
    <div class="navigation__user">
        <nz-avatar 
            nzSrc="https://jenersigua-resume.netlify.com/images/photo.jpg"
            class="navigation__user-avatar"
            nzIcon="user"></nz-avatar>
        <h3 
            nz-title
            *ngIf="user"
            id="test"
            class="navigation__user-name">{{user.firstname}} {{user.lastname}}</h3>
    </div>

    <ul 
        *ngIf="currentPage"
        class="navigation__links">
        <li> 
            <button 
                *ngIf="currentPage.id !== 'task'"
                nz-button 
                nzType="link" 
                nzSize="small" 
                class="navigation__link__task"
            >
                <i nz-icon nzType="edit"></i>Task
            </button>
        </li>
        <li> 
            <button 
                *ngIf="currentPage.id !== 'team'"
                nz-button 
                nzType="link" 
                nzSize="small" 
                class="navigation__link__team"
            >
                <i nz-icon nzType="usergroup-add"></i>Team
            </button>
        </li>
        <li>
            <button 
                (click)="logout()"
                nz-button nzType="link" nzSize="small" >
                <i nz-icon nzType="poweroff"></i>Logout
            </button>
        </li>
    </ul>
</div>