<div class="navigation">
    <h2 
        nz-title
        *ngIf="user"
        id="test"
        class="navigation__name">{{user.firstname}} {{user.lastname}}</h2>

    <ul 
        *ngIf="currentPage"
        class="navigation__links">
        <li> 
            <button 
                *ngIf="currentPage.id !== 'task'"
                nz-button 
                nzType="link" 
                nzSize="small" >
                <i nz-icon nzType="edit"></i>Task
            </button>
        </li>
        <li> 
            <button 
                *ngIf="currentPage.id !== 'team'"
                nz-button nzType="link" nzSize="small" >
                <i nz-icon nzType="usergroup-add"></i>Team
            </button>
        </li>
        <li>
            <button 
                (click)="logout()"
                nz-button nzType="link" nzSize="small" >
                <i nz-icon nzType="poweroff"></i>Logout
            </button>
        </li>
    </ul>
</div>