<app-page class="login">    
    
    <h1 class="login__title">TASK MONITORING</h1> 

    <form
        nz-form
        [formGroup]="form"
        (ngSubmit)="submitLogin()"
        class="login__form"
    >
        <label>LOGIN</label>

        <nz-form-control>
                <nz-input-group nzPrefixIcon="user">
                        <input 
                            id="username"
                            formControlName="username"
                            nz-input placeholder="Username"
                        />      
                </nz-input-group>
        </nz-form-control>


        <nz-form-control>
            <nz-input-group nzPrefixIcon="lock">
                <input 
                    id="password"
                    type="password" 
                    nz-input 
                    formControlName="password" 
                    placeholder="Password" />
            </nz-input-group>
        </nz-form-control>
        
        <button 
            nz-button 
            nzType="primary" 
            type="submit">Submit</button>        
    </form>

</app-page>
