<app-page id="task" class="task">
	<app-navigation></app-navigation>  
	
    <app-date-selection></app-date-selection> 

    <div class="task__tab-wrapper">
        <nz-tabset 
                class="task__tab"
                nzTabPosition="top" 
                nzSize="small"
                nzType="card"
		>
			<nz-tab 
				*ngFor="let u of userTask"
				[nzTitle]="todoTitleTemplate">
				<ng-template #todoTitleTemplate> 
					<i nz-icon [nzSpin]="u.icon === 'sync'" [nzType]="u.icon"></i> {{u.title}}
					<nz-badge [nzCount]="u.data.length" [nzStyle]="{ backgroundColor: u.badgeColor }"></nz-badge>
				</ng-template>

				<div class="task__list-container">
					<nz-list nzSize="small">  
							<nz-list-item 
								[ngClass]="{'selected' : selectedTask && ut._id === selectedTask._id}"
								(click)="selectask(ut)"
								*ngFor="let ut of u.data">
								
								<div class="task">
									<p class="task__title">{{ut.title}}</p>
									<p class="task__description">{{ut.description}}</p>
								</div>
								
								<app-task-action 
									*ngIf="selectedTask && ut._id === selectedTask._id"
								></app-task-action> 
							</nz-list-item>        

					</nz-list>

					<nz-empty *ngIf="u.data.length === 0"></nz-empty>
				</div> 
			</nz-tab> 
        </nz-tabset> 
    </div>

	<button 
		*ngIf="!isPreviousDate()"
		(click)="addTask()"
		nz-button 
		nzType="primary" 
		nzSize="large" 
		nzShape="circle"
		class="task__add-button"
	>
		<i nz-icon nzType="plus"></i>
	</button>

	<app-task-form></app-task-form>

</app-page>

