<ul nz-menu nzMode="horizontal">
                <li nz-submenu nzTitle="Action" nzIcon="setting">
                        <ul>
                                <li nz-menu-group nzTitle="View"></li>
                                <li nz-menu-group nzTitle="Edit"></li>
                                <li nz-menu-group nzTitle="Delete"></li>
                        </ul>
                </li>
                <li nz-submenu nzTitle="Update Status" nzIcon="pull-request">
                        <ul>
                                <li nz-menu-group nzTitle="On Going"></li>
                                <li nz-menu-group nzTitle="Done"></li>
                                <li nz-menu-group nzTitle="On Hold"></li>
                                <li nz-menu-group nzTitle="Todo"></li>
                        </ul>
                </li>
</ul>