 
<nz-button-group>
		<button nz-button>Action</button>
		<button nzTrigger="click" nz-button nz-dropdown [nzDropdownMenu]="actionMenu" nzPlacement="bottomRight">
				<i nz-icon nzType="setting"></i>
		</button>
</nz-button-group>

<nz-divider nzType="vertical"></nz-divider>

<nz-button-group>
		<button nz-button>Status</button>
		<button nzTrigger="click" nz-button nz-dropdown [nzDropdownMenu]="statusMenu" nzPlacement="bottomRight">
				<i nz-icon nzType="pull-request"></i>
		</button>
</nz-button-group>

<nz-dropdown-menu #actionMenu="nzDropdownMenu">
		<ul nz-menu>
				<li nz-menu-item (click)="action('view')">
						<i nz-icon nzType="eye"></i>
						View
				</li>
				<li nz-menu-item (click)="action('edit')">
						<i nz-icon nzType="edit"></i>
						Edit
				</li>
				<li nz-menu-item (click)="action('delete')">
						<i nz-icon nzType="delete"></i>
						Delete
				</li>
		</ul>
</nz-dropdown-menu>

<nz-dropdown-menu #statusMenu="nzDropdownMenu">
		<ul nz-menu>
				<ng-container *ngFor="let stat of statusList">
					<li 
						*ngIf="task && stat.id != task.status"
						nz-menu-item 
						(click)="updateStatus(stat)"
					>
							<i nz-icon [nzSpin]="stat.icon === 'sync'" [nzType]="stat.icon"></i>
							{{stat.label}}
					</li>      
				</ng-container>               
		</ul>
</nz-dropdown-menu>

 